<h1>Sobre mí...</h1>

<p>Mi nombre es Pablo. Soy de la ciudad de Río Cuarto, provincia de Córdoba, Argentina.
   Tengo 27 años y soy ingeniero agrónomo.
<p> He visto previamente algunos conceptos de programación con python, pero este es mi primer curso formal de programación. A medida voy avanzando en este ''nuevo mundo'' me voy dando cuenta
    de lo complejo que es y de la cantidad de áreas que abarca el mundo de la programación. 

<p>En relación a mi profesión de agrónomo, trabajo en el área de agricultura de precisión, un área que vincula la tecnología con la agronomía. Actualmente se puede observar que conceptos
de data analysis, machine learning, inteligencia artificial entre otros, se van vinculando con el mundo agrícola con el objetivo de realizar una agricultura más eficiente y tecnificada.
En parte, este motivo ha generado mi interés por el mundo de la programación, aunque también me interesa la tecnología en general y considero que conocer estas herramientas de programación es y será de gran importancia
para el mundo presente y futuro. 
</p>

</p>
<p></p>
    
</p>