<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Familia: <i>{{  arboles.familia  }} </i></p>
    <p>Nombre_cientifico: <i>{{ arboles.nombre_cientifico  }}</i></p>
    <p>Nombre_comun: <i>{{ arboles.nombr_comun }} </i></p>
    <p>Tipo_canopia: <i>{{ arboles.tipo_canopia }} </i></p>
    <p>Forma: <i>{{ arboles.forma }} </i></p>
    <p>Altura_media_en_metros: <i>{{ arboles.altura_media_en_metros }} </i></p>
    <p>
        <a href="{% url 'List' %}">Regresar</a>
    </p>
</body>
</html>

